<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="namoo.springmybatis.domain.member.mapper.MemberMapper">
	
	<select id="findByAll" resultType="Member" >
		SELECT id, password, name, age 
        FROM member 
	</select>
	
	<select id="findById" parameterType="string" resultType="Member" >
		SELECT id, password, name, age 
		FROM member
		WHERE id = #{id}
	</select>
	
	<select id="findByAgeRange" parameterType="int" resultType="Member" >
		SELECT id, password, name, age 
		FROM member
		WHERE age BETWEEN #{begin} AND #{end}
	</select>
	
	<select id="findByNameLike" parameterType="string" resultType="Member" >
		SELECT id, password, name, age 
		FROM member
		WHERE name LIKE #{value}
	</select>
	
	<!-- 
	<select id="findBySearch" parameterType="map" resultType="Member" >
		SELECT id, password, name, age 
		FROM member
		<if test="type != null and type != ''">
			<choose>
				<when test="type == 'id'">
					WHERE id = #{value}
				</when>
				<when test="type == 'name'">
					WHERE name LIKE '%' || #{value} || '%'
				</when>
			</choose>
		</if>
	</select>
	 -->
	<select id="findBySearch" parameterType="map" resultType="Member" >
		SELECT id, password, name, age 
		FROM member
		<where>
			<if test="type != null and type == id">
				and id = #{id}
			</if>
			<if test="type != null and type == name">
				and name LIKE '%' || #{value} || '%'
			</if>
		</where>
	</select>
	
	<select id="findBySearchV2" parameterType="MemberSearchCondition" resultType="Member" >
		SELECT id, password, name, age 
		FROM member
		<where>
			<if test="id != null and id != ''">
				or id = #{id}
			</if>
			<if test="name != null and name != ''">
				or name LIKE '%' || #{name} || '%'
			</if>
			<if test="age != null">
				or age = #{age}
			</if>
		</where>
	</select>
	 
	<insert id="create" parameterType="Member">
		INSERT INTO member(id, password, name, age)
		VALUES(#{id}, #{password}, #{name}, #{age})
	</insert>
	
	<update id="update" parameterType="Member">
		UPDATE member
		SET age = #{age}
		WHERE id = #{id}
	</update>
	
</mapper>